$header-gradient-start: rgba(0, 229, 145, 1);
$header-gradient-end: rgba(47, 239, 188, 1);
$header-padding: 15px;
$appcontainer-width: 800px;
$shopping-list-width: 300px;
$app-header-font-size: 2em;
$header-color: #ffffff;
$light-border-color: #d3d3d3;
$light-text-color: #999999;
$text-color: #000000;
$item-padding-left: 10px;
$item-padding-right: 10px;
$item-padding-top: 5px;
$item-padding-bottom: 5px;

$header-font-size: 20px;
$shopping-details-width: 300px;